
.axis{
  width: 1000px;
  height: 400px;
  background-color: aqua;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

input[type=email], input[type=password], button{
  width: 20vh;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 6px;
}